<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>社区练习</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/static/css/community.css"/>
    <script src="/static/js/jquery-3.4.1.min.js" type="application/javascript"></script>
    <script src="/static/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{navigation.html :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="jumbotron">
            <h1>出错了！！！</h1>
            <p th:text="${message}">服务太热了，要不然等下试试.....</p>
            <p><a class="btn btn-primary btn-lg" href="/" role="button">回到首页</a></p>
        </div>

    </div>
</div>
</body>
</html>